<div id="<%= dom_id questao %>">
  <p>
    <strong>Enunciado:</strong>
    <%= questao.enunciado %>
  </p>

  <p>
    <strong>Alternativas:</strong>
    <%= questao.alternativas %>
  </p>

  <p>
    <strong>Categorias:</strong>
    <%= questao.categorias %>
  </p>

  <p>
    <strong>Pontuação:</strong>
    <%= questao.pontuacao %>
  </p>

</div>
